#shopping-cart {
  margin: 1.5em 0;
}

.shopping-cart {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.shopping-cart th {
  font-size: 1.3em;
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
  text-transform: uppercase;
}

.shopping-cart td {
  padding: 0.3em;
  width: 33.3%;
  border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
  background: #fafafa;
}

.shopping-cart td.pdelete {
  text-align: center;
}

#content > h1,
#checkout-order-form h2 {
  font-size: 2em;
  text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
  margin: 1em 0;
}

#checkout-order-form {
  margin: 1.5em 0;
}

.checkout-form {
  display: flex;
}

.form1,
.form2 {
  width: 100%;
}

#checkout-order-form fieldset {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1.3em;
}

#checkout-order-form legend {
  padding: 0.3em;
  background: #fafafa;
  font-weight: bold;
}

#checkout-order-form div {
  margin-bottom: 1em;
}

#checkout-order-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  text-align: left;
}

#checkout-order-form input[type="text"] {
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.1em;
}

#checkout-order-form select {
  width: 200px;
  display: block;
}

.message {
  display: block;
  margin: 0.5em 0;
  color: red;
}

.set-margin {
  margin-top: 40px;
}

@media only screen and (max-width: 360px) {
  .checkout-form {
    flex-direction: column;
  }
}
